*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color: #f0f0f0;
}

.image-grid{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
    gap: 8px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1{
    grid-area: a;
    min-height: 250px;
}

.img-2{
    grid-area: b;
    min-height: 200px;
}
.img-3{
    grid-area: c;
    min-height: 200px;
}

.img-4{
    grid-area: d;
    min-height: 200px;
}
.img-5{
    grid-area: e;
    min-height: 200px;
}
.img-6{
    grid-area: f;
    min-height: 200px;
}

@media screen and (min-width: 600px){
    .image-grid{
        grid-template-areas:
        "a b"
        "a c"
        "d e"
        "d e"
        "f f";
        height: auto;
    }

    .img-1{
        min-height: 300px;
    }

    .img-2, .img-3{
        min-height: 150px;
    }

    .img-4, .img-5{
        min-height: 150px;
    }

    .img-6{
        min-height: 150px;
    }
}

@media screen and (min-width: 1024px){
    .image-grid{
        width: 90vw;
        max-width: 1200px;
        height: 70vh;
        grid-template-areas: 
        "a b c"
        "a e c"
        "d e f";
    }

    .img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
        min-height: auto;
    }
}